    <h1><%= @kid.child_fname %>'s Profile </h1>

    <h3> Full Name: <%= @kid.child_fname%> <%= @kid.child_mname%> <%= @kid.child_lname %></h3><br>
    <h3> Date of Birth: <%=  @kid.birthday %></h3><br>
    <h3> Weight: <%= @kid.weight_lbs %>lbs <%= @kid.weight_oz%>oz</h3><br>
    <h3> Height: <%= @kid.height %>in </h3><br>
    <h3> Parent Name: <%= @kid.parent1_fname %> <%= @kid.parent1_lname %></h3><br>   
    <h3> Parent Name: <%= @kid.parent2_fname %> <%= @kid.parent2_lname %></h3><br> 

    <form action="/kids/<%= @kid.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
    </form> 
        
